
.main-div{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input-box{
  height:40px;
  width: 250px;
  padding: 10px;
  margin-top: 5px;
}